 /* Body fonts*/
@font-face{
  font-family: 'Short Stack';
  src: url(./fonts/Short_Stack/ShortStack-Regular.ttf);
}


body{
  background-color: #fff;
  
}

.container{
  display: flex;
  justify-content: center;
  background-color: #e6f0ff;
  height: 91vh;
  width: auto;
  padding: 1rem;
}

.to-do{
  background-color:#000;
  min-height: 500px;
  width: 400px;
  border: 2px solid;
  border-radius: 15px;
}

.to-do h2{
  color: #fff;
  font-family: 'Merienda One', cursive;
  text-align: center;
}

#todo-form input{
  background-color: #fff;
  border: solid 1px;
  width: 200px;
  height: 45px; 
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: black;
}
 
#todo-form input::placeholder{
  color: black;
}

#todo-form input:focus, #todo-form button:focus{
  outline: none;
}

#todo-form button{
  height: 45px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: #ffcc00;
  font-size: 15px;
  cursor: pointer;
  font-weight: bolder;
  color: #000000;
}


.list{
  color: white;
  width: 300px;
  height: 40px;
  margin: 20px auto;
  border-radius: 5px;
  background-color:#4d79ff;
}

.list p{
  padding: 10px;
  position: relative;
  font-family: 'Short Stack', cursive;
}

.list p span{
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.list p input{
  background-color: transparent;
  border: 0;
  color:#fff;
  font-size: 18px;
}

.list p input{
  outline: none;
}

.faicons{
  margin: 0 5px;
  font-size: 15px;
}


