body{
  background-color: #fff;
  
}

.container{
  background-color: #e6f0ff;
  min-height: auto;
  width: auto;
}

#inner-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  padding: 50px 300px;
}

.header{
  background-color: #4d79ff;
  color: #fff;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}


.to-do{
  background-color:#000;
  min-height: 500px;
  width: 400px;
   /*top and bottom 40 px and horizontally centered */
  border: 2px solid;
  border-radius: 15px;
}

.to-do h2{
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

#todo-form input{
  background-color: #fff;
  border: solid 1px;
  width: 200px;
  height: 50px; 
  padding: 0 20px;
  margin: 20px;
  font-family: 'Chocolate Covered Raindrops';
  font-size: 18px;
  border-radius: 10px;
  color: black;
}
 
#todo-form input::placeholder{
  color: black;
}

#todo-form input:focus, #todo-form button:focus{
  outline: none;
}

#todo-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: #ffcc00;
  font-size: 15px;
  font-family: 'Chocolate Covered Raindrops';
  cursor: pointer;
  font-weight: bolder;
  color: #000000;
}

.water{
  text-align: center;
  background-color: #fff;
  min-height: 500px;
  width: 400px;
 /*top and bottom 40 px and horizontally centered */
  border: 2px solid;
  border-radius: 15px;
}

.water h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.list{
  color: white;
  width: 300px;
  height: 40px;
  margin: 20px auto;
  border-radius: 5px;
  background-color:#4d79ff;
}

.list p{
  padding: 10px;
  position: relative;
  font-family: 'Chocolate Covered Raindrops';
}

.list p span{
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.faicons{
  margin: 0 5px;
  font-size: 15px;
}

@font-face{
  font-family: 'Chocolate Covered Raindrops';
  src: url(/src/fonts/chocolate-covered-raindrops/Chocolate\ Covered\ Raindrops.ttf);
}

